<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.76.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe"
                      publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect
                oldVersion="3.5.1.0-3.5.1.50" newVersion="3.5.1.50"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <connectionStrings>
        <add name="mangaDbEditor.Properties.Settings.DbConnection"
            connectionString="Data Source=|DataDirectory|\mds.sdf" providerName="System.Data.SqlClient" />
        <add name="mangaDbEditor.Properties.Settings.mdbConnectionString"
            connectionString="data source=K:\workspaces\manga_net\main\Debug\mdb.db3"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>