<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="oldFormatImporter.Properties.Settings.DataStoreConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;F:\Development Projects\VS2010\Projects\mraSharp\Debug\DataStore.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>