<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="oldFormatImporter.Properties.Settings.DbConnection"
            connectionString="Data Source=|DataDirectory|\mds.sdf" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>